<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name ="keywords" content="techno, about, morta">
        <meta name="description" content="About the Site">
        <meta name="author" content="Alexandra Dohm">
        <meta charset="utf-8">
	  
        <title>About</title>
	 
        <link rel="stylesheet" type = "text/css" href="/styling/about.css">    
  </head>

<body style= "background-color:#282828;">

    <!-- Load navagation bar-->  
    {{> nav }} 

    <section class = "about">
        <h2>About this site</h2>
        <p> 
            I wanted to create a simple navigatable website that explores the new wave of Industrial Techno. Enjoy. 
        </p> 
        <p>
	         Contact:
	         <a href="mailto:mortasvault[at]gmail[dot]com" target="_top">mortasvault@gmail.com</a> or through my Soundcloud below
        </p>
        
    </section>

		<hr/>
    <section class = "about">
        <h2>Visiting San Francisco, Miami, LA or other US cities soon?</h2>
        <p>
            Check out my friend's <a href="http://19hz.info">website</a>, it's simple but extensive.
        </p>
    </section>
    <hr/>
    <section id="links">
        <section class = "about">	
            
            <i><a href="http://www.soundcloud.com/mortapup"> -> Find me on Soundcloud <- </a></i>
        </section>
    </section>

</body>
</html>
