<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name ="keywords" content="techno, about, morta">
        <meta name="description" content="About the Site">
        <meta name="author" content="Alexandra Dohm">
        <meta charset="utf-8">
	  
        <title>About</title>
	 
        <link rel="stylesheet" type = "text/css" href="/styling/about.css">    
  </head>

<body style= "background-color:#282828;">

    <!-- Load navagation bar-->  
    {{> nav }} 

    <!-- Contact Information --> 
    <section class = "about">
        <h2>About this site</h2>
        <p> I wanted to create a simple website that explores the new wave of Industrial Techno. Enjoy. </p> 
        <p>
	         Contact:
	         <a href="mailto:mortasvault@gmail.com" target="_top">mortasvault[at]gmail[dot]com</a> or through my <a href="http://www.soundcloud.com/mortapup">Soundcloud</a>
        </p>   
    </section>

    <!-- 19hz.info --> 
	<hr/>
    <section class = "about">
        <h2>Visiting San Francisco, Miami, LA or other US cities soon?</h2>
        <p>Check out my friend's <a href="http://19hz.info">website</a>, it's simple but extensive.</p>
    </section>
    <hr/>

    <!-- How App is Built -->
    <section class = "about">
        <h2>How this site is built</h2>
        This site is a Heroku App which incorporates the following:
        <ul>
            <li>Node.js</li> 
            <li>ProgreSQL</li>
            <li>Cloudflare</li>
            <li>Handlebars</li>
            <li>Express</li>
            <li>AJAX</li>
        </ul> 
        &#8667;&#8667;<a href="https://github.com/teknopup/MortasVault"> GitHub </a>&#8666;&#8666; page which includes code, ERD and Schema
    </section>

</body>
</html>
