<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name ="keywords" content="techno, about, morta">
        <meta name="description" content="About the Site">
        <meta name="author" content="Alexandra Dohm">
        <meta charset="utf-8">
	  
        <title>About</title>
        <link rel="stylesheet" type = "text/css" href="/styling/about.css">  
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

  </head>

<body style= "background-color:#282828;">

    <!-- Load navagation bar-->  
    {{> nav }} 

    <!-- Contact Information --> 
    <section class = "about">
        <h2>About this site</h2>
        <p> This site explores the new wave of Industrial Techno and Underground Rave Music. </p>    
        <p>
            <font color="#E70000">Q</font><font color="#FF8C00">u</font><font color="#FFEF00">e</font><font color="#00811F">e</font><font color="#0044FF">r</font>
            and are a hard techno Dj or Producer? Feel free to contact me through <a href="http://www.soundcloud.com/mortapup">Soundcloud</a>, expanding the project soon <i class="far fa-smile"></i>
       </p>
    </section>

    <!-- 19hz.info --> 
	<hr/>
    <section class = "about">
        <h2>Visiting San Francisco, Miami, LA or other US cities soon?</h2>
        <p>Check out my friend's <a href="http://19hz.info">website</a>, it's simple but extensive.</p>
    </section>
    <hr/>

    <!-- How App is Built -->
    <section class = "about">
        <h2>How this site is built</h2>
        This site is a Heroku App which incorporates the following:
        <ul>
            <li>Node.js</li> 
            <li>PostgreSQL</li>
            <li>Handlebars</li>
            <li>Express</li>
        </ul> 
        &#8667;&#8667;<a href="https://github.com/teknopup/MortasVault"> GitHub </a>&#8666;&#8666; Code | ERD | Schema
    </section>




</body>
</html>
