<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name ="keywords" content="techno, underground, rave, morta, vault, industrial">
    <meta name="description" content="Resource for underground music">
    <meta name="author" content="Alexandra Dohm">
    <meta charset="utf-8">

    <title>MORTA</title>
      <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">  


 </head>


  <body style= "background-color:#282828">

  <!-- Load navagation bar-->  
  {{> nav }} 
    
  </body>

</html>