<!DOCTYPE html>
<html lang="en">
<head>
    <div id="loadOverlay"
         style="background-color:#121212; position:absolute; top:0px; left:0px; width:100%; height:100%; z-index:2000;"></div>
</head>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="techno, underground, rave, morta, vault, industrial, 90's, hard">
    <meta name="description" content="Resource for underground music">
    <meta name="author" content="Alexandra Dohm">
    <meta charset="utf-8">

    <title>MORTA</title>


    <!-- Bootstrap 4 Styling-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Styling -->
    <link rel="stylesheet" type="text/css" id="page-styling" href="">
    <script> //set the color scheme
    if (sessionStorage["scheme"] === "retro") {
        document.getElementById('page-styling').setAttribute('href','styling/homeRetro.css');
    } else {
        document.getElementById('page-styling').setAttribute('href','styling/home.css');
    }
    </script>
    <link href="https://fonts.googleapis.com/css?family=Faster+One" rel="stylesheet">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico?v=2">

    <!-- Font Awesome -->
    <script src="https://use.fontawesome.com/f293958e13.js"></script>
</head>


<body>

<!--Navigation Bar-->
<div class="container-fluid px-0">
    <nav class="navbar navbar-expand-sm px-0 px-md-2 justify-content-between">
        <button class="navbar-toggler collapsed pl-4 py-3" type="button" data-toggle="collapse" data-target="#mainMenu"
                aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar top-bar"></span>
            <span class="icon-bar middle-bar"></span>
            <span class="icon-bar bottom-bar"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainMenu">
            <div class="navbar-nav">
                <a class="nav-item nav-link pt-2 px-4 px-sm-2 mx-sm-2 menu-item" id="label-link" href="/Labels">LABELS</a>
                <div class="dropdown-divider my-0"></div>
                <a class="nav-item nav-link pt-2 px-4 px-sm-2 mx-sm-2 menu-item" id="podcast-link" href="/Podcasts">PODCASTS</a>
            </div>
        </div>
    </nav>
</div>

<!--MORTA'S VAULT LOGO-->
<div class="container-fluid">
    <div class="container height-adjust">
        <div class="row justify-content-center text-center">
            <div class="col-12 col-md-10 my-4 mb-sm-0">
                <span id="morta-logo">MORTA'S VAULT</span>
            </div>
        </div>
        <div class="row justify-content-center text-left text-sm-center">
            <div class="col-12 col-md-10 py-2" id="site-description">
                <div id="typed-text" class="py-2"></div>
                <div class="py-2">Built and maintained by <a href="https://soundcloud.com/mortapup" id="morta-styling">MORTA</a></div>
            </div>
        </div>

        <div class="row justify-content-center text-center text-sm-center mt-4">
            <div class="col-12 col-md-10 py-2">
                <div class="form-check-inline">
                    <label class="form-check-label" id="retro">
                        <input type="radio" class="form-check-input" id="retro-theme" name="theme">Retro Theme
                    </label>
                </div>
                <div class="form-check-inline">
                    <label class="form-check-label" id="cool">
                        <input type="radio" class="form-check-input" id="cool-theme" name="theme">Cool Theme
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Footer -->
<div class="container">
    <nav class="navbar navbar-light fixed-bottom pb-3 justify-content-center text-center">
        <a href="https://soundcloud.com/mortapup" class="nav-link sc"><i class="fa fa-soundcloud fa-2x"></i></a>
    </nav>
</div>




<!--Bootstrap 4 Stuff-->
<script type="text/javascript" src="/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<script type="text/javascript" src="/js/home.js"></script>

</body>
</html>
