<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name ="keywords" content="techno, underground, rave, morta, vault, industrial">
    <meta name="description" content="Resource for underground music">
    <meta name="author" content="Alexandra Dohm">
    <meta charset="utf-8">

    <title>MORTA</title>
    <link rel="stylesheet" type = "text/css" href="/styling/home.css">  
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

 </head>


  <body style= "background-color:#111211">
    <!-- <body style= "background-color:#282828"> -->

    <!-- Load navagation bar-->  
    {{> nav }} 
    <div id="mixInfo">
      <a id="spotlight" target="_tab" href="https://soundcloud.com/carceres-records/brule-e-douleurs-de-sirs">Spotlight</a> 
      <div class="mixArtist"></div>
      <div class="mixTitle"></div>
      <div class="mixReleaseDate"></div>
      <div class="mixcollective"></div>    
    </div>
    <div id="mixPlayer">
      <script src='//w.soundcloud.com/player/api.js'></script>
      <div class="playPause"><i class="fas fa-play"></i></div>
      <div class="player">
        <span class='info'></span>
        <div class="waveform"></div>
        <div class="position"></div>  
      </div>
    </div>

    <div id="volume">
      <div id="volumeSlider"></div>
    </div>

    <iframe class="sc-widget" src="//w.soundcloud.com/player/?url=//soundcloud.com/parfe_records/baep-debs-sacred-court"></iframe>    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="/home.js"></script>

  </body>
</html>
