#mixInfo {
	width: 90%;
	margin: auto;
	text-align: center;
	font-family: 'Cutive Mono', monospace;
  	font-size: 2vw;
  	color: white;
}

#sorryAboutChrome {
	color: #ffCC00;
	font-family: 'Cutive Mono', monospace;
  	letter-spacing: -1px;
  	font-weight: 200;
  	font-size: 1.2vw;
  	margin: auto;
  	width: 75%;
  	text-align: left;
}

#spotlight {
	color: #ffCC00;
	font-family: 'Cutive Mono', monospace;
  	letter-spacing: -1px;
  	padding-bottom: 2px;
  	font-weight: 200;
  	font-size: 1.6vw;
  	display: inline-block;
  	/*text-decoration: none;*/
}

#spotlight:hover {
	color:mediumvioletred;
 }

iframe { display: none; }

#mixPlayer {
	overflow: hidden;
	width: 75%;
	margin: auto;
	-webkit-tap-highlight-color: transparent;

}

.player {
  cursor: pointer;
  position: relative;
  float: left;
  overflow:hidden;
  height: 14vw;
  width: 90%;
  font-family: 'Cutive Mono', monospace;
  font-size: 2vw;
  background-color: #efefef;
  background-size: contain;
  background-position: center;
  transition: background-image 0.5s linear;
}

.waveform {
  z-index: 3;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: 100% 100%;
  background-repeat:no-repeat;
  filter: invert(100%);
}

.position {
  opacity: 0.35;
  position: absolute;
  height: 100%;
  width: 0;
  background-color: white;
  transition: width;
  /*mix-blend-mode: luminosity;*/
  mix-blend-mode: difference;
}

.info {
  user-select: none;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  z-index: 5;
  position: absolute;
  height: 1em;
  width: 100%;
  top: 0;
  bottom: 0;
  margin: auto;
  font-size: 2em;
  letter-spacing: -.08em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  color: white;
  mix-blend-mode: exclusion;
}

.fa-play, .fa-pause {
	color: #ffCC00;
	font-size: 6vw;
}

.playPause {
	width: 10%;
	float:left;
	transform: translateY(+65%);
	cursor: pointer;
}

#volume {
	width: 15%;
	height: 5%;
	position: relative;
	margin: 0 auto;
	top: 15px;
	
}

/*work on formatting and adaptive sizing*/
/*also volume is slow to go up and down*/
#volumeSlider {
	position: absolute;
	margin: 0 auto;
	height: 5px;
	width: 100%;
	background: #111211;
	border-radius: 15px;

}

#volumeSlider .ui-slider-range-min {
	height: 5px;
	width: 100%;
	position: absolute;
	background: #b30047;
	border: none;
	border-radius: 10px;
	outline: none;
}

#volumeSlider .ui-slider-handle {
		width: 20px;
  		height: 20px;
		border-radius: 20px;
	  	background: #800033;
	  	position: absolute;
	  	margin-left: -8px;
	  	margin-top: -8px;
	  	cursor: pointer;
	  	outline: none;
	}
