#mixInfo {
	width: 90%;
	margin: auto;
	text-align: center;
}

#chromeSucks {
    position:absolute;
	width: 20%;
	color: black;
	font-family: 'Cutive Mono', monospace;
  	font-weight: 200;
  	font-size: 1.2vw;
  	display: none;
    background: #eeeeee;
    border: 1px solid #1a1a1a;
  	z-index:99;
}

.fa-question-circle {
	color: grey;
	font-size: 3vw;
	margin: auto;
	width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
	position: absolute;
	text-align: center;
}

.fa-question-circle:hover {
	color:mediumvioletred;
}


#spotlight {
	color: #b30047;
	font-family: 'Cutive Mono', monospace;
  	letter-spacing: -1px;
  	padding-bottom: 2px;
  	font-weight: 200;
  	font-size: 2vw;
  	display: inline-block;
}

#spotlight:hover {
	color:mediumvioletred;
 }

iframe { display: none; }

#mixPlayer {
	overflow: hidden;
	width: 60%;
	margin: auto;
	-webkit-tap-highlight-color: transparent;
}

.player {
  cursor: pointer;
  position: relative;
  float: left;
  overflow:hidden;
  height: 12vw;
  width: 90%;
  font-family: 'Cutive Mono', monospace;
  font-size: 2vw;
  background-color: #efefef;
  background-size: contain;
  background-position: center;
  transition: background-image 0.5s linear;
}

.waveform {
  z-index: 3;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: 100% 100%;
  background-repeat:no-repeat;
  filter: invert(100%);
}

.position {
  opacity: 0.35;
  position: absolute;
  height: 100%;
  width: 0;
  background-color: white;
  transition: width;
  mix-blend-mode: difference;
}

.info {
  user-select: none;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  z-index: 5;
  position: absolute;
  height: 1em;
  width: 100%;
  top: 0;
  bottom: 0;
  margin: auto;
  font-size: 2em;
  letter-spacing: -.08em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  color: white;
  mix-blend-mode: exclusion;
}

.fa-play, .fa-pause {
	color: #ffCC00;
	font-size: 5.5vw;
}

.playPause {
	width: 10%;
	float:left;
	transform: translateY(+65%);
	cursor: pointer;
}

#volume {
	width: 15%;
	height: 5%;
	position: relative;
	margin: 0 auto;
	top: 15px;
	display: flex;
	margin-bottom: 5%;
	
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) { 
 #volume { 
 	display: none;
 }
}

#volumeSlider {
	position: absolute;
	margin: 0 auto;
	height: 5px;
	width: 100%;
	background: #111211;
	border-radius: 15px;

}

#volumeSlider .ui-slider-range-min {
	height: 5px;
	width: 100%;
	position: absolute;
	background: #b30047;
	border: none;
	border-radius: 10px;
	outline: none;
	/*padding-bottom: 5%;*/
}

#volumeSlider .ui-slider-handle {
	width: 20px;
	height: 20px;
	border-radius: 20px;
  	background: #800033;
  	position: absolute;
  	margin-left: -8px;
  	margin-top: -8px;
  	cursor: pointer;
  	outline: none;
}

#hoverVolume {
	width: 15%;
	text-align: left;
	color: #ffCC00;
	font-family: 'Cutive Mono', monospace;
	letter-spacing: -1px;
	font-size: 1.5vw;
	margin-top: 5%;
}

