@font-face {
	font-family: 'ocraregular';
	src: url('/fonts/ocra/ocra_regular-webfont.woff2') format('woff2'),
	url('/fonts/ocra/ocra_regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'ocraregular';
	background-color:#121212;
	color: #ffCC00;
	padding-bottom: 70px;
}

#morta-logo{
	font-family: 'Faster One', cursive;
	color: #00ff66;
}

#morta-styling {
	background: linear-gradient(to right, mediumspringgreen, mediumseagreen, mediumturquoise);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 600;
}

#morta-styling:hover {
	background: linear-gradient(to left, red, red);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 600;
}

.fa-soundcloud {
	color:  #00ff66;
	text-decoration: none;
}

.fa-soundcloud:hover {
	color:  #ff7700;
	text-decoration: none;
	cursor: pointer;
}

/* Morta's Vault Text Sizes */
@media screen and (max-width: 576px) {
	#morta-logo {
		font-size: 14vw;
	}
	#site-description {
		font-size: medium;
		border-top : 3px solid #00ff66;
		border-bottom : 3px solid #00ff66;
	}
}

@media screen and (max-width: 768px) and (min-width: 567px) {
	#morta-logo {
		font-size: 7vw;
	}
	#site-description {
		font-size: medium;
	}
	.menu-item {
		border-bottom: 1px solid #ffCC00;
		border-right: 1px solid #ffCC00;
		border-radius: 5px;
	}
}

@media screen and (max-width: 992px) and (min-width: 769px) {
	#morta-logo {
		font-size: 6.25vw;
	}
	#site-description {
		font-size: medium;
	}
	.menu-item {
		border-bottom: 1px solid #ffCC00;
		border-right: 1px solid #ffCC00;
		border-radius: 5px;
	}
}
@media screen and (min-width: 992px) {
	#morta-logo {
		font-size: 5vw;
	}

	#site-description {
		font-size: medium;
	}
	.menu-item {
		border-bottom: 1px solid #ffCC00;
		border-right: 1px solid #ffCC00;
		border-radius: 5px;
	}
}

.nav-item {
	color: #ffCC00;
	border-color: #ffCC00;
}

.nav-item:hover {
	color: #121212;
	background: #ffCC00;
	border-color: #121212;
	border-radius: 5px;
}

.dropdown-divider {
	border-top: 1px solid #00ff66;
	opacity: 0.5;
}
.navbar-toggler:active, .navbar-toggler:focus {
	outline-color: transparent;
	box-shadow: none;
}

.icon-bar {
	width: 22px;
	height: 2px;
	background-color: #00ff66;
	display: block;
	transition: all 0.2s;
	margin-top: 4px
}

.navbar-toggler {
	border: none;
	background: transparent !important;
	/*padding-left: 0;*/
	/*padding-top: 12px;*/
}

.navbar-toggler .top-bar {
	transform: rotate(45deg);
	transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
	opacity: 0;
}

.navbar-toggler .bottom-bar {
	transform: rotate(-45deg);
	transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
	transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
	opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
	transform: rotate(0);
}

