@font-face {
	font-family: 'ocraregular';
	src: url('/fonts/ocra/ocra_regular-webfont.woff2') format('woff2'),
	url('/fonts/ocra/ocra_regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'ocraregular';
	background-color: #121212;
	color: #ffCC00;
	padding-bottom: 70px;
}

#morta-logo {
	font-family: 'Faster One', cursive;
	color: #00ff66;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 100;
}

#morta-desktop-logo {
	font-family: 'Faster One', cursive;
	color: #00ff66;
	text-decoration: none;
}

.table > tbody > th:first-child {
	border: none;
}

.table > thead > tr > .expanded-content, .table > tbody > tr > td {
	border-bottom: 1px solid rgba(176, 190, 197, .05);
	border-top: none;
}

.hiddenRow {
	padding: 0 !important;
	border: none !important;
	background: rgba(176,190,197,0.2);
}

.country-tag {
	opacity: 0.7;
	color: rgb(0, 153, 61);
	font-size: small;
	margin-top: auto;
}

.name-tag {
	color: #00ff66;
}

.country-tag, .name-tag {
	text-decoration: none;
}

.exposed-row:hover * {
	text-decoration: none;
	color: #121212;
}

.exposed-row:hover {
	background: #00ff66;
}

.fa {
	color: #ffCC00;
}

.fa:hover {
	color: rgb(0, 153, 61);
}

.collapsing {
	-webkit-transition: height .15s ease !important;
	-o-transition: height .15s ease !important;
	transition: height .15s ease !important;
}

.expanded-social-links {
	height: 100%;
}

.expanded-social-link-button {
	width: 100%;
	border: 1px solid #ffCC00;
	color: #ffCC00;
	background: #121212;
}

.expanded-social-link-button:hover{
	border-color: #ffCC00;
	background: #ffCC00;
	transition: color .05s ease-in-out, background-color .05s ease-in-out, border-color .05s ease-in-out, box-shadow .05s ease-in-out;
}

.expanded-social-link-button:hover > .fa {
	color: #121212!important;
}

.filtering, .filtering * {
	background: #121212;
	color: #00ff66;
	transition: color .05s ease-in-out, background-color .05s ease-in-out, border-color .05s ease-in-out, box-shadow .05s ease-in-out;
}

.filtering:hover {
	border: 1px solid #00ff66;
}

.search-label, #country_Filter {
	background: #121212;
	color: #00ff66;
}

.avatar {
	border: 3px solid #FFCC00;
}

.or {
	color: #00ff66
}

.form-control {
	border: 1px solid #FFCC00;
}


/* Morta's Vault Text Sizes */
@media screen and (max-width: 567px) {
	#morta-logo {
		display: block;
	}

	#morta-desktop-logo {
		display: none;
	}

	#labelBC, #labelSC, #labelFB {
		display: none;
	}

	#page-title {
		font-size: 6vw;
		border: 1px dotted #FFCC00;
	}
}

@media screen and (max-width: 768px) and (min-width: 567px) {
	#morta-logo {
		display: none;
	}

	#morta-desktop-logo {
		font-size: 7vw;
	}

	.menu-item {
		border-bottom: 1px solid #ffCC00;
		border-right: 1px solid #ffCC00;
		border-radius: 5px;
	}

	.podcasts {
		color: #121212 !important;
		background: #ffCC00;
		border-color: #121212;
		border-radius: 5px;
	}

	#page-title {
		font-size: 4vw;
		border: 1px dotted #FFCC00;
	}
}

@media screen and (max-width: 992px) and (min-width: 769px) {
	#morta-logo {
		display: none;
	}

	#morta-desktop-logo {
		font-size: 6.25vw;
	}

	.menu-item {
		border-bottom: 1px solid #ffCC00;
		border-right: 1px solid #ffCC00;
		border-radius: 5px;
	}

	.podcasts {
		color: #121212 !important;
		background: #ffCC00;
		border-color: #121212;
		border-radius: 5px;
	}

	#page-title {
		font-size: 3vw;
		border: 1px dotted #FFCC00;
	}
}

@media screen and (min-width: 992px) {
	#morta-logo {
		display: none;
	}

	#morta-desktop-logo {
		font-size: 5vw;
	}

	.menu-item {
		border-bottom: 1px solid #ffCC00;
		border-right: 1px solid #ffCC00;
		border-radius: 5px;
	}

	.podcasts {
		color: #121212 !important;
		background: #ffCC00;
		border-color: #121212;
		border-radius: 5px;
	}

	#page-title {
		font-size: 2.5vw;
		border: 1px dotted #FFCC00;
	}
}

.nav-item {
	color: #ffCC00;
	border-color: #ffCC00;
}

.nav-item:hover {
	color: #121212;
	background: #ffCC00;
	border-color: #ffCC00;
	border-radius: 5px;
}

.dropdown-divider {
	border-top: 1px solid #00ff66;
	opacity: 0.5;
}

.navbar-toggler:active, .navbar-toggler:focus {
	outline-color: transparent;
	box-shadow: none;
}

.icon-bar {
	width: 22px;
	height: 2px;
	background-color: #00ff66;
	display: block;
	transition: all 0.2s;
	margin-top: 4px
}

.navbar-toggler {
	border: none;
	background: transparent !important;
}

.navbar-toggler:active {
	border: none;
}

.navbar-toggler .top-bar {
	transform: rotate(45deg);
	transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
	opacity: 0;
}

.navbar-toggler .bottom-bar {
	transform: rotate(-45deg);
	transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
	transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
	opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
	transform: rotate(0);
}

#return-to-top {
	cursor: pointer;
	background: rgba(230,230,250,.50);
	width: 50px;
	height: 50px;
	border-radius: 25px;
	text-decoration: none;
	display: block;
}

.fa-chevron-up {
	transform: translate(10%, 20%);
	color: black;
}

.fa-chevron-up:hover {
	color: darkred;
}